@keyframes OPEN_MENU {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        height: 240%;
        width: 130%;
    }
}

@keyframes PUSH_TOP {
    0% {
        top: vw(240px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        top: vw(200px);
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    font-family: 'Neutral Face';
    font-weight: 400;
    font-size: vw(12px);
    line-height: vw(12px);
    border-radius: 100px;
    border: 1px solid #CBCBCB;
    overflow: hidden;
    color: black;
    text-decoration: unset;
    transition: color 0.3s, border 0.3s;
    cursor: pointer;

    &-menu {
        font-size: vw(56px);
        line-height: vw(58px);
        color: #000000;
        border: 0;
        overflow: unset !important;

        .btn-text {
            padding: 0 !important;
        }
    }

    &.btn-click {
        position: relative;
        background: transparent;
    }

    .btn-fill {
        background: black;
        position: absolute;
        width: 150%;
        height: 200%;
        border-radius: 50%;
        top: -50%;
        left: -25%;
        transform: translate3d(0,-76%,0);
        will-change: transform;
        transition: background-color ease-in-out .25s;
        z-index: 1;
    }

    .btn-text {
        position: relative;
        padding: vh(12px) vw(20px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 2;

        .btn-text-inner {
            z-index: 3;
        }
    }

}
